@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_LayoutAuth";

    ViewData["Title"] = Localizer["Title"];
}

<div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-5">
        <div class="card shadow my-4">
            <div class="card-body p-4">
                <h5 class="card-title text-center mb-4">@Localizer["Title"]</h5>

                <div class="alert alert-success text-center" role="alert">
                    @Localizer["CheckEmailMessage"]
                </div>
            </div>
        </div>
    </div>
</div>